@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
--Marine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);
--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);
--background-light: #f5f5f7;
--text-light: #333333;
--background-dark: #1c1c1e;
--text-dark: #ffffff;
--toggle-light: #FD632F;
--toggle-dark: #34C759;
}
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

body{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: var(--Magnolia);
}

.info{
    display: flex;
    gap: 50px;
    background-color: var(--White);
    border-radius: 10px;
} 

#first{
    width: 550px;  
}

#first h1{
    color: var(--Marine-blue);
    margin-top: 50px;
}

#first #up{
 color: var(--Cool-gray);
 margin-top: 10px;
 margin-bottom: 40px;
}

#first label{
    color: var(--Marine-blue);
}

.input-name{
  display: flex;
  flex-direction: column;
}

.input-name input{
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px var(--Cool-gray) solid;
    border-radius: 5px;
    width: 450px;
    
}

.input-email{
    display: flex;
    flex-direction: column;
}

#warningdiv{
    display: flex;
    gap: 100px;
    height: 30px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
}

#warningdiv1{
    display: flex;
    gap: 100px;
    height: 30px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
}

#warningdiv2{
    display: flex;
    gap: 100px;
    height: 30px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
}

#warning2{
    color: var(--Strawberry-red);
    position: absolute;
    top: 400px;
    right: 350px;
    font-weight: 500;
}

#warning1{
    color: var(--Strawberry-red);
    position: absolute;
    top: 495px;
    right: 350px;
    font-weight: 500;
}

#warning{
    color: var(--Strawberry-red);
    position: absolute;
    top: 310px;
    right: 350px;
    font-weight: 500;
}

.input-email input{
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;    
    border: 1px var(--Cool-gray) solid;
    border-radius: 5px;
    width: 450px;
}


.input-phone{
    display: flex;
    flex-direction: column;
}

.input-phone input{
    height: 40px;
    padding-left: 10px;
    margin-bottom: 100px;
    border: 1px var(--Cool-gray) solid;
    border-radius: 5px;
    width: 450px;
}


.first-nextbut #nextbut{
    background-color: var(--Marine-blue);
    border: none;
    border-radius: 5px;
    height:  40px;
    width: 100px;
    margin-left: 335px;
    color: var(--White);
}

.first-nextbut #nextbut:hover{
    cursor: pointer;
}

#first-gobackb:hover{
    cursor:pointer;
}

.first-nextbut button a{
    text-decoration: none;
    color: var(--White);
}

/* first end */

/* sidebar start */

.sidebar{
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    border-radius: 10px;
    width: 270px;
    height: 568px;
    padding-left: 70px;
    
}

.sidebar ol li{
    counter-increment: xian;
    position: relative;
    margin-bottom: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
    list-style: none;
}

.sidebar ol #step-one::before{        
    content: "" counter(xian);
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 100%;
    top: 10px;
    left: -45px;
    text-align: center;
    transition: 0.7s ease-out; 
    font-weight: bold;
    background-color:var(--afterBack, White);
    color:var(--nigro, hsl(243, 100%, 62%));
    font-weight: bold;
}

.sidebar ol #step-two::before{        
    content: "" counter(xian);
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 100%;
    top: 10px;
    left: -45px;
    color: var(--White);
    text-align: center;
    transition: 0.7s ease-out; 
    background-color:var(--beforeBack, hsl(243, 100%, 62%));
    color:var( --nigra, White);
    font-weight: bold;
}

.sidebar ol #step-three::before{        
    content: "" counter(xian);
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 100%;
    top: 10px;
    left: -45px;
    text-align: center;
    transition: 0.7s ease-out; 
    background-color:var(--afterFront, hsl(243, 100%, 62%));
    color:var( --nigras, White); 
    font-weight: bold;
}

.sidebar ol #step-four::before{        
    content: "" counter(xian);
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 100%;
    top: 10px;
    left: -45px;
    text-align: center;
    transition: 0.7s ease-out;  
    background-color:var(--beforeAfter, hsl(243, 100%, 62%));
    color:var( --nigroa, White); 
    font-weight: bold;
}

.sidebar h2{
    color: var(--White);
}

.sidebar p{
    color: var(--Pastel-blue);
}

/* sidebar end */

/* step two start */

#step-one{  
    margin-bottom: 20px;
    margin-top: 30px;
}    

    #step-one::before{
        background-color: var(--White);
    }

    #step-two{
        margin-bottom: 20px;
    }

    #step-three{
        margin-bottom: 20px;
    }

#second{
  width: 600px;
  display: none;
}

#second .upper p{
    margin-bottom: 50px;
}

#second h1{
    margin-top: 50px;
    margin-bottom: 10px;
}

#second h1, #second h2{
    color: var(--Marine-blue);
}

.arcade, .advanced, .pro{
    border: 1px solid var(--Cool-gray);
    border-radius: 5px;
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
    transition: border 0.1s ease-in;
    cursor: pointer;
}


.arcade:hover{
    /* background-color: rebeccapurple; */
    border: 2px solid var(--Purplish-blue);
}

.rizz{
    border: 2px var(--Purplish-blue) solid;
    background-color:var(--Magnolia);
    border-radius: 5px;
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
    transition: border 0.1s ease-in, background-color 0.1s ease-in;
    cursor: pointer; 
}   

#second div img{
    margin-left: 20px;
    margin-top: 30px;
}

#second h2{
    margin-top: 10px;
    margin-left: 20px;
}

#second label{
    margin-left: 20px;
    
}

#second label{
    color: var(--Cool-gray);
}

#second p{
    color: var(--Cool-gray);
}

.subscription{
    display: flex;
    gap: 10px;
}

#lower{
    display:flex;
    gap: 350px;
    margin-top: 90px;
}

#lower button{
    background-color: var(--Marine-blue);
    border: none;
    border-radius: 5px;
    height:  40px;
    width: 100px;
    color: var(--White);
}

.duration{
    background-color: var(--Magnolia);
    width: 470px;
    display: flex;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    align-items: center;
}

label.toggle {
    width: 43px;
    height: 20px;
    background-color: var(--Marine-blue);
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0;
    transition: background-color 0.3s 0.4s;
    margin-right: 15px;
  }
  label.toggle input {
    width: 0;
    height: 0;
  }
  label > input[type="checkbox"] {
    margin: 0;
  }
  label > input[type="checkbox"]::before {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--White);
    content: "";
    line-height: 0;
    padding: 0;
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
    transition: margin-left 0.4s ease-in-out, background-color 0.4s 0.3s;
  }
  label:has(> input:checked) {
    background-color: var(--Marine-blue) !important;
  }
  label > input[type="checkbox"]:checked::before {
    background-color: #fff;
    margin-left: 26px;
  }

span{
    color: var(--Cool-gray);
}

#month{
    color: var(--Marine-blue);
}

#cheap-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#not-cheap-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#expensive-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* second end */

/* third start */

#third{
    padding-top: 30px;
    width: 500px;
    display: none;
}

#third h1{
    color: var(--Marine-blue);
}

 #enhance, #multiplayer, #extra{
    margin-bottom: 30px;
}
 #multiplayer, #extra, #customize{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px var(--Light-gray) solid;
    border-radius: 10px;
    width: 450px;
    height: 90px;
    transition: background-color 0.1s ease-in;
} 

#multiplayer h2, #multiplayer p, #extra h2, #extra p, #customize h2, #customize p{
    margin-left: 30px;
    margin-right: 38px;
}

#customize{
    margin-bottom: 50px;
}

#customize p, #customize h2{
    margin-right: 50px;
}

#multiplayer h2, #extra h2, #customize h2{
    font-size: 20px;
}

#multiplayer h2, #multiplayer p{
    margin-right: 75px;
}

#extra h2, #extra p{
    margin-right: 110px;
}

#inp-multiplayer[type="checkbox"]{
    accent-color: var(--Purplish-blue);
    width: 20px;
    height: 20px;
}

#inp-extra[type="checkbox"]{
    accent-color: var(--Purplish-blue);
    width: 20px;
    height: 20px;
}

#inp-customize{
    accent-color: var(--Purplish-blue);
    width: 20px;
    height: 20px;
}

#third p{
    color: var(--Cool-gray);
}

#third h2{
    color: var(--Marine-blue);
}

#third label{
    color: var(--Purplish-blue);
}


#lower3 {
    display: flex;
    align-items: center;
}

#lower3 button{
    background-color: var(--Marine-blue);
    border: none;
    border-radius: 5px;
    height:  40px;
    width: 100px;
    margin-left: 300px;
    color: var(--White);
} 

#lower3 button:hover{
    cursor: pointer;
}

#lower3 p:hover{
    cursor: pointer;
}

/* third end */

/* fourth start */

#fourth{
    background-color: var(--White);
    width: 600px;
    padding-top: 30px;
    padding-left: 30px;
    display: none;
}

#fourth p{
    color: var(--Cool-gray);
}

#fourth-1{
    margin-bottom: 30px;
}

#fourth-1 h1{
    margin-bottom: 10px;
}


#finishing{
    border-top: 1px var(--Light-gray) solid;
    /* padding-top: 30px; */
    margin-top: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#finishing label{
    color: var(--Cool-gray);
}   

#finished{
    background-color: var(--Magnolia);
    width: 450px;
    padding-left: 30px;
    padding-top: 70px; 
    border-radius: 7px;
}

#service{
    display: none;
    gap: 240px;
    padding-top: 15px;
}

#storage{
    display: none;
    gap: 237px;
}

#profile{
    display: none;
    gap: 193px;
    padding-bottom: 20px;
}

#finishing p{
    color: black;
}

#selected{
    display: flex;
}

#selected a{
    color: var(--Cool-gray);
    text-decoration: underline;
    text-decoration-color:var(--background-dark) ;    
}

#selected a:hover{
    color: var(--Purplish-blue);
}

#selected h3{
    color: var(--Marine-blue);
    text-decoration-color: var(--Marine-blue);
}


#top2{
    display: flex;
    gap: 5px;
    align-items: center;
}

#selected h2, #selected #top2 h3{
    color: var(--Marine-blue);
}

#confirm{
    background-color: var(--Purplish-blue);
    border: none;
    border-radius: 5px;
    height:  40px;
    width: 100px;
    margin-left: 300px;
    color: var(--White);
}

#lower4{
    display:flex;
    align-items: center;
}

#total{
    color: var(--Cool-gray);
}

#final{
    display: flex;
    gap: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#num {
    color: var(--Purplish-blue);
}
/* 5 start */

#container-5{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 25px;
    gap: 30px;
    padding-left: 10px;
    background-color: var(--White);
    width: 500px;
    border-radius: 10px;
}


#container-5 a, #container-5 p{
    text-decoration: none;
    color: var(--Cool-gray);
}

#container-5 a:hover{
    color: var(--Purplish-blue);
    text-decoration: underline;
}



